* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

h1 {
    color: rgb(0, 110, 153);
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
}

/***** HEADER SECTION *****/
header {
    background-color: firebrick;
    width: 100%;
    height: 100vh;
}

.title {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow-x: hidden;
    padding: 4rem 1rem;
    line-height: .5;
}

.startTag, .endTag {
    font-size: 3rem;
    opacity: .5;
}

.tagContent {
    padding-left: 3rem;
    font-size: 3rem;
}

.polygon {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

svg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

h2, p {
    color: white;
}

@media screen and (min-width: 768px) {
    /***** HEADER SECTION *****/
    .title {
        padding: 4rem 3rem;
    }

    .tagContent {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    /***** HEADER SECTION *****/
    .title {
        padding: 4rem 4rem;
    }
    
    .startTag, .endTag {
        font-size: 4rem;
    }

    .tagContent {
        padding-left: 4rem;
        font-size: 5rem;
    }
}